<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hawai</title>
    <link href="./assets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="page-wrapper">
      <section class="banner">
        <div class="container">
            <div class="banner-titel">
                <h1>What it's like to 
                    travel to Hawaii 
                    right now</h1>
                 <span>Free flights to remote workers</span>  
            </div>
            
        </div>
         
      </section>
      <section class="tabs" >
        <ul id="menu">
          <li>
            <a href="#section-1" id="section-1-scroll">Section 1</a>
          </li>
          <li>
            <a href="#section-2" id="section-2-scroll">Section 2</a>
          </li>
          <li>
            <a href="#section-3" id="section-3-scroll">Section 3</a>
          </li>
        </ul>
      </section>

    
    
      <div class="contant">
        <section class="section-1" id="section-1">
          <div class="container">
            <div class="section-1-wrapper">
              <div class="img-wrapper">
                <img src="./assets/images/MainImageoriginal.png" alt="this is image section 1" class="img-responsive">
              </div>
              <div class="info-section-1 ">
                <h2 class="general-titel">section 1</h2>
                <table>
                  <tr>
                    <td class="table-titel">Population</td>
                    <td>Total (1,415,872), Rank (40th)</td>
                  </tr>
                  <tr>
                    <td class="table-titel">Dimensions</td>
                    <td>Length 1,522 mi (2,450 km) . Width n/a mi (n/a km)</td>
                  </tr>
                  <tr>
                    <td class="table-titel">Language</td>
                    <td>Oﬃcial languages English, Hawaiian </td>
                  </tr>
                  <tr>
                    <td class="table-titel">Largest city</td>
                    <td>The capital (Honolulu)</td>
                  </tr>
                  <tr>
                    <td class="table-titel">Largest metro</td>
                    <td>The largest metro in Island of Oʻahu</td>
                  </tr>
                  <tr>
                    <td class="table-titel">Elevation</td>
                    <td>Highest elevation 13,796 ft (4,205.0 m)</td>
                  </tr>
                </table>
                
              </div>
            </div>
            
          </div>
        </section>
        <section class="section-2 " id="section-2">
          <main id="home" class="contents">
            <div class="container">
              <div class="section-2-wrapper">
                <h2 class="general-titel">section 2</h2>
                <ul class="timeline panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <li class="timeline-line"></li>
    
                    <li class="timeline-item">
                        <div class="timeline-badge"><a href="#"></a></div>
                        <div class="timeline-panel">
                            <div class="panel">
                                <div class="panel-heading isOpen">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <div class="timeline-heading">1778 <i class="fas fa-arrow-right"></i>
                                            </div> <span class="expand-icon-wrap"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="timeline-content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe porro nam fugit dolor! Sunt rerum ad voluptas mollitia accusantium. Qui veritatis aliquid, dolores nisi minima sunt sed laborum! Aperiam, esse!</p>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
    
                    
                    <li class="timeline-item" >
                        <div class="timeline-badge"><a href="#"></a></div>
                        <div class="timeline-panel">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <div class="timeline-heading">1779 <i class="fas fa-arrow-right"></i></div> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseTwo"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="timeline-content">
                                            <p>Eu pid nunc urna integer, sed, cras tortor scelerisque penatibus facilisis a pulvinar, rhoncus sagittis ut nunc elit! Sociis in et? Rhoncus, vel dignissim in scelerisque. Dolor lacus pulvinar adipiscing adipiscing montes! Elementum risus adipiscing non, cras scelerisque risus penatibus? Massa vut, habitasse, tincidunt!</p>
                                            <p>Eu pid nunc urna integer, sed, cras tortor scelerisque penatibus facilisis a pulvinar, rhoncus sagittis ut nunc elit! Sociis in et?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge"><a href="#"></a></div>
                        <div class="timeline-panel">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <div id="about" class="timeline-heading">1789<i class="fas fa-arrow-right"></i></div> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseThree"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="timeline-content">
                                          
                                            <p>Rubber cheese say cheese bocconcini. Caerphilly cheese and biscuits squirty cheese airedale lancashire cheese and biscuits rubber cheese squirty cheese. Ricotta fromage frais port-salut danish fontina cream cheese queso edam ricotta. Gouda monterey jack blue castello stilton rubber cheese.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
    
                    <li class="timeline-item">
                        <div class="timeline-badge"><a href="#"></a></div>
                        <div class="timeline-panel">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            <div id="services" class="timeline-heading">1820 <i class="fas fa-arrow-right"></i></div> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseThree"></span>
                                        </a> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseFour"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="timeline-content">
                                            <p>Eu pid nunc urna integer, sed, cras tortor scelerisque penatibus facilisis a pulvinar, rhoncus sagittis ut nunc elit! Sociis in et? Rhoncus, vel dignissim in scelerisque. Dolor lacus pulvinar adipiscing adipiscing montes! Elementum risus adipiscing non, cras scelerisque risus penatibus? Massa vut, habitasse, tincidunt!</p>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
    
                    <li class="timeline-item">
                        <div class="timeline-badge"><a href="#"></a></div>
                        <div class="timeline-panel">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                            <div class="timeline-heading">1830 <i class="fas fa-arrow-right"></i></div> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseFive"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="timeline-content">
                                            <p>Eu pid nunc urna integer, sed, cras tortor scelerisque penatibus facilisis a pulvinar, rhoncus sagittis ut nunc elit! Sociis in et? Rhoncus, vel dignissim in scelerisque. Dolor lacus pulvinar adipiscing adipiscing montes! Elementum risus adipiscing non, cras scelerisque risus penatibus? Massa vut, habitasse, tincidunt!</p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
    
                </ul>
              </div>
              
                
            </div>
          </main> 
        </section>
        
       
    
        <div id="app">
          <section class="section-3" id="section-3">
            <div class="container">
              <h2 class="general-titel">section 3</h2>
              <div id="primary-slider" class="splide">
                <div class="splide__track">
                  <ul class="splide__list">
                    <li  v-for="image in images" class="splide__slide"> 
                      <img :src='image.url'/>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="secondary-slider" class="splide">
                <div class="splide__track">
                  <ul class="splide__list">
                    <li  v-for="image in images" class="splide__slide"> 
                      <img :src='image.url'/>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      
      
      </div>
      
      <footer>
        <div class="container">
          <div class="footer-wrapper">
            <div class="copyright">
              <p>All rights reserved.Copyright © 2021</p>
            </div>
            <ul class="footer-menu">
              <li> <a href="#">Sitemap</a> </li>
              <li><a href="#">Terms and conditions</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    
    <script src="./assets/script.js?v=2"></script>
  </body>
</html>

   


