$headings-font-weight: 700;

$font-family-Ibarra-Real-Nova: 'Ibarra Real Nova', serif;
$headings-font-family: 'Merriweather', serif;
$primary-font: 'Roboto', sans-serif; 


 //colors
 $main-color: #0a527b;
 $secondary-color: #707070;
 $Cod-Gray: #0c0c0c;
 $Friar-Gray: #797974;
 $White: #fff;
 $black: #000;
 $Gallery: #eaeaea
